<ul class="nav navbar-nav navbar-right">
	<% if url_for == new_user_session_path %>
		<li><a href="<%= new_user_registration_path %>"><b>¿No tienes cuenta aún?</b> Registrate</a></li>
	<% else %>
  	<li><a href="<%= new_user_session_path %>"><b>¿Ya tienes una cuenta?</b> Ingresa con ella</a></li>
	<% end %>
</ul>