<%= content_for :navbar_menu_items do %>
  <%= render 'devise/shared/navbar_items' %>
<% end %>

<div class="container privacy-note login">
	<div class="row">
		
		<div class="col-lg-6 col-lg-offset-3">
			<div class="well bs-component">
				<h3 class="title">Aviso de privacidad</h3>
          <p><b>Identidad y domicilio del responsable</b></p>

          <p>REcyclo.com (en lo sucesivo “Recyclo”), representada por Alejandro E. Cruz Paz con domicilio en Cumbres de Maltrata 162-206 Narvarte Poniente, Del. Benito Juárez, C.P. 03020, México D.F.</p>

          <p><b>Datos personales que recaba Recyclo</b></p>

          <p>Los datos personales que Recyclo recaba tienen como finalidad poner en contacto a recolectores de residuos sólidos y donadores de residuos sólidos registrados en el sitio web recyclo.com, así como ofrecer servicios, productos y aplicaciones relacionadas con el reciclaje de residuos. Para ello, Recyclo recolecta los siguientes datos:</p>
          <div class="list-group">
            <a href="#" class="list-group-item">Nombre y apellido.</a>
            <a href="#" class="list-group-item">Correo o correos electrónicos.</a>
            <a href="#" class="list-group-item">Ubicación.</a>
            <a href="#" class="list-group-item">Fotografía personal.</a>
            <a href="#" class="list-group-item">Datos de tarjetas bancarias de crédito o débito.</a>
          </div>

        <p>En caso de no contar con esta información Recyclo no estaría en posibilidad de ofrecer sus servicios a recolectores de residuos y donadores de residuos.

        Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña. 

        Por su parte, las web beacons son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros.</p>

        <p>Le informamos que utilizamos cookies y web beacons para obtener información personal de usted, como la siguiente:</p>

        <div class="list-group">
          <a href="#" class="list-group-item">Su tipo de navegador y sistema operativo.</a>
          <a href="#" class="list-group-item">Las páginas de Internet que visita.</a>
          <a href="#" class="list-group-item">Los vínculos que sigue.</a>
          <a href="#" class="list-group-item">La dirección IP.</a>
          <a href="#" class="list-group-item">El sitio que visitó antes de entrar al nuestro.</a>
        </div>
        
        <p><b>Finalidades del tratamiento de datos personales</b></p>

        <p>Sus datos personales serán utilizados con las siguientes finalidades:</p>
        
        <div class="list-group">
          <a href="#" class="list-group-item">Ponerle en contacto con otros usuarios de Recyclo para generar donaciones o adquisiciones de residuos sólidos y para valorar su desempeño en la plataforma.</a>
          <a href="#" class="list-group-item">Informar de nuevos servicios o productos que Recyclo ponga a disposición del público.</a>
          <a href="#" class="list-group-item">Informar sobre noticias, recordatorios y otras notificaciones relacionadas con la operación de la plataforma.</a>
          <a href="#" class="list-group-item">Generar cobros debidamente autorizados por usted a su tarjeta de crédito o débito.</a>
        </div>
        
        <p><b>Opciones y medios para limitar el uso y divulgación de sus datos personales</b></p>

        <p>
        Usted puede dejar de recibir mensajes por correo electrónico de parte de Recyclo enviando  un correo electrónico a la dirección contacto@recyclo.mx solicitando dejar de recibir correos electrónicos de nuestra parte.

        Los cookies que utilizamos para obtener su información personal se pueden deshabilitar de la siguiente forma:</p>
        
        <div class="list-group">
          <a href="#" class="list-group-item">Ir a la sección de configuración o preferencias en su explorador web.</a>
          <a href="#" class="list-group-item">Ir a la pestaña de privacidad</a>
          <a href="#" class="list-group-item">Seleccionar eliminar cookies de manera individual.</a>
          <a href="#" class="list-group-item">Seleccionar de la lista <i>www.recyclo.mx</i> y dar click en eliminar.</a>
        </div>

        <p><b>Acceso, rectificación, cancelación u oposición al uso de sus datos personales</b></p>

        <p>
        Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o instruirnos a cancelarlos cuando considere que resulten excesivos o innecesarios para las finalidades que justificaron su obtención u oponerse al tratamiento de los mismos para fines específicos.

        Para ejercer estos derechos, favor de ponerse en contacto a través del correo electrónico contacto@recyclo.mx.</p>


        <p><b>Transferencias de datos personales</b></p>

        <p>Recyclo no realiza transferencias de sus datos personales a terceros.</p>

        <p><b>Cambios al aviso de privacidad</b></p>

        <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado.

        Estas modificaciones estarán disponibles al público a través de los siguientes medios: (i) anuncios visibles en nuestros establecimientos o centros de atención a clientes; (ii) trípticos o folletos disponibles en nuestros establecimientos o centros de atención a clientes; (iii) en nuestra página de Internet [www., sección aviso de privacidad]; (iv) o se las haremos llegar al último correo electrónico que nos haya proporcionado. 
        La fecha de la última actualización al presente aviso de privacidad: 10 de marzo de 2015.</p>
        
			</div>
		</div>
	</div>
</div>
