<% if offers.empty? %>
  <div class="empty">
		<p class="centered">No tienes ningún reciclable publicado aún :(</p>
		<br/>
		<p class="centered"><%= link_to "Publicar ahora", new_offer_path, class: 'btn btn-info' %></p>
	</div>
<% else %>
	<%= render partial: 'offers/offer', collection: offers, locals: { as: :giver } %>
<% end %>