<% if offers.empty? %>
  <div class="empty">
  	<p class="centered">No tienes ningúna oferta de reciclables en observación :(</p>
  	<br/>
  	<p class="centered"><%= link_to "Encuentra reciclables", nil, class: 'btn btn-info' %></p>
  </div>
<% else %>
	<%= render partial: 'offers/offer', collection: offers, locals: { as: :picker } %>
<% end %>