<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="list-group">
      <a href="javascript:void(0)" class="list-group-item">
        <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-info-sign"></i> Aprende más</h4>
        <p class="list-group-item-text">
          Haz click en alguna de las ofertas que aparecen en la lista siguiente para ver su estado. 
        </p>
      </a>
    </div>
  </div>
</div>