#offers-list {
  .modal-backdrop {
    position: fixed !important;
    top: 0;
    left: 0;
    pointer-events:none !important;
  }
}



.navbar-brand {
	padding: 2px !important;
	margin-right: 30px !important;
}

.activity-list {
	
	.empty {
		margin: 100px 0 100px 0;
		p {
			margin: 0 !important;
			font-size: 18px !important;
		}
	}
	
	.offer-activity {
		margin-bottom: 10px !important;
		font-size: 15px;
		
		.action-links {
			margin: 0px;
			margin-right: 20px;
			text-align: right;
			a {
				color: #B0B0B0;
			}
		}
    
    .panel-heading {
      padding-bottom: 3px !important;
    }
		
		.panel-title {
			vertical-align: middle !important;
			line-height: 25px !important;
			font-size: 18px;
		}
    
    .well {
      margin-top: 15px !important;
      margin-bottom: 0px !important;
    }
	}
	
	.offer-interest {
		font-weight: bold;
		color: #9C9C9C;
		font-size: 15px;
		.left {
			margin-left: 10px;
		}
		
		.right {
			margin-right: 10px;
		}
	}
}

.collect-panel {
  .collecting-date select {
    width: 100px !important;
  }
}

.offer-for-picker {
  
  .actions, .collect {
    margin-top: 20px !important;
  }
  
  .collect {
    display: none;
  }
  
	.details {
		margin-top: 10px;
		font-size: 17px;
	}
}

.offer {
  
  .alert-link {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  
  .show {
    li {
      margin: 0;
      padding: 0;
    }
    
    .address {
      margin: 10px;
    }
  }
  
  .date {
    padding: 0;
    margin: 0;
  }
  
  .new {
    .hoverable:hover {
      background-color: #CBFFC8;
    }
    
    .hoverable {
      .content-editable {
        display: none;
      }
    }
  }
}