<div class="row">
  <p class="lead centered">
    <% if offer.user == current_user %>
      El recolector podrá contactarte por estos medios
    <% else %>
      También puedes contactar al donador de reciclables en:
    <% end %>
  </p>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <% if offer.user == current_user %>
      <div class="row">
        <p class="text-warning centered">
          Estos datos de contacto serán revelados <b>solamente</b> al recolector que tu elijas
        </p>
      </div>
    <% end %>
    <div class="centered"><b>E-mail</b>: <%= offer.user.email %></div>
    <div class="centered"><b>Teléfono</b>: <%= offer.user.phone %></div>
  </div>
</div>