<div class="row">
  <ul class="centered">
		<li>
      <%= link_to "<i class='glyphicon glyphicon-remove'></i> Eliminar".html_safe, offer, 
			method: :delete, confirm: "¿Deseas eliminar este reciclable?", class: 'btn btn-danger' %>
    </li>
  </ul>
</div>