<div class="row">
  <p class="lead centered">
    Toma en cuenta lo siguiente
  </p>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text-warning centered">
        La dirección exacta y datos adicionales de contacto te serán revelados al cerrar el trato con el donante.
      </p>
    </div>
  </div>
</div>