<span class="help-block">Haz click en tu ubicación en el mapa o haz click <%= link_to 'aquí', 'javascript:formLocateMe();', id: 'locate-me-good' %> para ubicarte automáticamente.</span>
<div class="retrieve-location">
  <div id="locating-you" class="locate-me">
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-warning" style="width: 100%"></div>
    </div>
    <p>Espera, estamos tratando de ubicarte ...</p>
  </div>
</div>