<%= f.fields_for :location do |l| %>
	<div id="offer-location-select" class="row form-group">
	  <label for="mapLocation" class="col-lg-3 control-label">¿Dónde recogerlos?</label>
	  <div class="col-lg-9">
	    <div class="map" id="map"></div>
	    <span class="help-block"></span>
	  </div>
	</div>
	<%= hidden_field_tag 'offer[location[coordinates_lat]]' %>
	<%= hidden_field_tag 'offer[location[coordinates_lon]]' %>
	<div class="row form-group">
	  <label for="inputAddress" class="col-lg-3 control-label">¿Cuál es tu dirección?</label>
	  <div class="col-lg-9">
			<%= l.text_field :address, placeholder: "Tu dirección", hide_label: true, class: 'form-control' %> 
      <span class="help-block">Ajusta tu dirección según lo consideres necesario</span>
		</div>
	</div>
<% end %>